<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>公众号管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/staticpwd/static/css/font.css">
    <link rel="stylesheet" href="/staticpwd/static/css/xadmin.css">
    <script src="/staticpwd/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/staticpwd/static/js/xadmin.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">公众号管理</a>
            <a><cite>公众号列表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">刷新
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">            
                <div class="layui-card-body " style="overflow:scroll">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>公众号名称</th>
                            <th>账号</th>
                            <th>密码</th>
                            <th>状态</th>
                            <th>操作</th>              
                        </thead>
                        <tbody>
                        {volist name="data" id="data"}
                        <tr>                        
                            <td>{$data.name}</td>
                            <td>{$data.account}</td>
                            <td>{$data.mima}</td>                       
                            {if condition='$data.status eq 0'}
                            <td class="td-status">
                                <span class="layui-btn  layui-btn-mini">未使用</span>
                            </td>
                            {elseif condition="$data.status eq 1" /}
                            <td class="td-status">
                                <span class="layui-btn layui-btn-normal layui-btn-mini">当前使用</span>
                            </td>
                            {elseif condition="$data.status eq 2" /}
                            <td class="td-status">
                                <span class="layui-btn layui-btn-danger layui-btn-mini">已禁用</span>
                            </td>
                            {/if}
                            
                            <td class="td-manage">
                            {if condition='$data.status eq 0'}
                             <a onclick="member_stop(this,'确定要启用吗？',{$data.id})" href="javascript:;" title="启用">
                             <span class="layui-btn  layui-btn-mini">启用</span>
                            </a>
                            {/if}
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    /*用户-停用*/
    function member_stop(obj, tips, id) {
        if (confirm(tips)== true){
            $.ajax({
                url: "/v1/wxopen/changeOpen",
                dataType: "json",
                type: "post",
                data: {
                    "id": id,         
                },
                success: function (returns) {
                    //  alert(JSON.stringify(returns));return false;
                    layer.msg(returns.msg, {icon: 1, time: 2000}, function () {
                        // window.location.href = '/v1/index/index';
                        location.reload();
                    });
                    return false;

                }
            });
            // if ($(obj).attr('title') == '启用') {
            //     //发异步把用户状态进行更改
            //     $(obj).attr('title', '禁用')
            //     $(obj).find('i').html('&#xe62f;');
            //
            //     $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已禁用');
            //     layer.msg('已禁用!', {icon: 5, time: 1000});
            //
            // } else {
            //     $(obj).attr('title', '启用')
            //     $(obj).find('i').html('&#xe601;');
            //
            //     $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
            //     layer.msg('已启用!', {icon: 5, time: 1000});
            // }

        }
    }

</script>
</html>