{extend name="base" /}
{block name="content"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 余分管理 <span class="c-gray en">&gt;</span> 上下分列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form class="form form-horizontal" id="form-soso" action="/score/list" method="get">
        <div class="text-c"> 日期范围：
            <input type="text" value="{$parama['begin_time']}" id="begin_time" name="begin_time" class="input-text Wdate" style="width:170px;">
            -
            <input type="text" value="{$parama['end_time']}"  id="end_time" name="end_time" class="input-text Wdate" style="width:170px;">
            用户ID:
            <input type="text" value="{$parama['userId']}"  id="userId" name="userId" class="input-text" style="width:100px;">
            牌局ID:
            <input type="text" value="{$parama['card_game_id']}"  id="card_game_id" name="card_game_id" class="input-text" style="width:100px;">
            数据类型：
           <span class="select-box inline">
                <select name="data_type" class="select">
                    <option value="0">全部分类</option>
                    {foreach name="$parama['dataType']" item="vo" key="k" }
                    <option {if condition="$parama['data_type'] eq $k"}selected="selected"{/if} value="{$k}">{$vo}</option>
                    {/foreach}
                </select>
           </span>
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜 索</button>
            <!--<button type="button" class="btn btn-success radius" id="doexcel" name="" onclick="doexcel11()"><i-->
                    <!--class="Hui-iconfont">-->
                <!--&#xe641;</i> 导出报表-->
            <!--</button>-->
        </div>
    </form>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="90">用户ID</th>
                <th width="90">昵称</th>
                <th width="90">初始分</th>
                <th width="90">变化的分</th>
                <th width="150">余分</th>
                <th width="130">类型</th>
                <th width="90">牌局ID</th>
                <th width="130">时间</th>
            </tr>
            </thead>
            <tbody>
            {volist name="$datas" id="moneys"}
            <tr class="text-c">
                <td>{$moneys.id}</td>
                <td>{$moneys.uid}</td>
                <td>{$moneys.name}</td>
                <td>{$moneys.score}</td>
                <td>{$moneys.score_change}</td>
                <td>{$moneys.score_after}</td>
                <td>
                    {if condition="$moneys.type eq 1"}<span>庄注</span>
                    {elseif condition="$moneys.type eq 2"/} <span>闲注</span>
                    {elseif condition="$moneys.type eq 3"/} <span>和注</span>
                    {elseif condition="$moneys.type eq 4"/} <span>庄对</span>
                    {elseif condition="$moneys.type eq 5"/} <span>闲对</span>
                    {elseif condition="$moneys.type eq 7"/} <span>幸运六</span>
                    {elseif condition="$moneys.type eq 11"/} <span>上分</span>
                    {elseif condition="$moneys.type eq 12"/} <span>下分</span>
                    {elseif condition="$moneys.type eq 13"/} <span>下分删除</span>
                    {elseif condition="$moneys.type eq 20"/} <span>手动上分</span>
                    {elseif condition="$moneys.type eq 21"/} <span>手动下分</span>
                    {elseif condition="$moneys.type eq 100"/} <span>码粮结算</span>
                    {elseif condition="$moneys.type eq 110"/} <span>取消下注</span>
                    {elseif condition="$moneys.type eq 111"/} <span>牌局结算</span>
                    {elseif condition="$moneys.type eq 121"/} <span>重新结算</span>
                    {elseif condition="$moneys.type eq 122"/} <span>领取红包</span>
                    {else /}未知
                    {/if}
                </td>
                <td>{$moneys.card_game_id}</td>
                <td>{$moneys.time}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
<div style="height:80px;padding:20px 0px;overflow: hidden">
    {$datas->render()}
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[2,6]}// 制定列不参与排序
            ],
            "paging": false, //打开分页设置
            "info": true,
        });

    });

    /*下载报表*/
    function doexcel11() {
        var begin_time = $('#begin_time').val();
        var end_time = $('#end_time').val();
        var userId = $('#userId').val();
        var url = '/score/doExcel?begin_time=' + begin_time + '&end_time=' + end_time + '&userId=' + userId;
        window.location.href = url;
        return false;
    }

</script>
<script  type="text/javascript">
    //执行一个laydate实例
    laydate.render({
        elem: '#begin_time' //指定元素
        ,type: 'datetime'
    });
    laydate.render({
        elem: '#end_time' //指定元素
        ,type: 'datetime'
    });
</script>
{/block}